# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\KHANH\Intern Java\Task_8_12_2021_JavaBasic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
